*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#navbar{
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}
#nav_part2{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    /* background-color: blue;   */
}
#navbar >h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#navbar >h5{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;

}
#navbar>i{
    font-family: 20px;
    margin-right: 5px;
}
#navbar img{
    height: 50px;
    width: 100px;
}
#line{
    width: 70px;
    height: 2px;
    background-color: red;
}
#content{
    display: flex;
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: lightblue; */
    justify-content: space-between;
}
#left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 160px 80px;
}
#right{
    width: 36%;
    height: 100%;
    background-color: green;
}
#center{
    width: 26%;
    height: 100%;
    background-color: red;
    padding-top: 30px;
}
#left h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}
#left h1 span{
    color: red;
    font-weight: 500;
}
#left p{
    margin-bottom: 50px;
    font-size: 18px;
    width: 70%;
    line-height: 24px;
}
#left button{
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    text-align: center;
}
#left button i{
    margin-right: 6PX;
}
#center_bg{
    height: 90%;
    width: 100%;
    background-color: blue;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}