*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#navbar{
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}
#nav_part2{
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    /* background-color: blue;   */
    cursor: pointer;
}
#navbar >h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#navbar >h5{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;

}
#navbar>i{
    font-family: 20px;
    margin-right: 5px;
    cursor: pointer;
}
#navbar img{
    height: 50px;
    width: 100px;
}
#line{
    width: 70px;
    height: 2px;
    background-color: red;
}
#content{
    display: flex;
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: lightblue; */
    justify-content: space-between;
}
#left{
    width: 36%;
    height: 100%;
    /* background-color: red; */
    padding: 160px 80px;
}
#right{
    width: 36%;
    height: 100%;
    /* background-color: green; */
    padding: 340px 80px;

}
#center{
    width: 26%;
    height: 100%;
    /* background-color: red; */
    padding-top: 60px;
}
#left h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 50px;
}
#left h1 span{
    color: red;
    font-weight: 500;
}
#left p{
    margin-bottom: 50px;
    font-size: 18px;
    width: 70%;
    line-height: 24px;
}
#left button{
    background-color: red;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    text-align: center;
}
#left button i{
    margin-right: 6PX;
}
#center_bg{
    height: 90%;
    width: 100%;
    background-color: blue;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmDI4HkeYgWbZfbWmRAUQ_32rornXpv16X2lKk_H87RQ&s);
    background-size: 300%;
    background-position: 30% 50%;
    filter: blur(2px);
}
#content img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%,0);
    z-index: 99;
}
#right_elems{
    /* background-color: red; */
    width: 400px;
    margin-right: 600px;
}
#elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
    opacity: 0.6;

}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 1px solid #fff;
    opacity: 0.6;
}
#right_elems h1{
    font-size: 24px;
    font-weight: 600;
}
#right_elems i{
    font-size: 24px;
}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top: 15px;
    opacity: 0.6;
}
#elem2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}